In [64]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
music = pd.read_csv('train.csv')

In [66]:
music = music.dropna()

In [67]:
len(music)

11813

In [68]:
music.Class.value_counts()

10    3374
6     2039
8     1523
9     1099
1     1037
2      956
5      517
7      464
0      386
3      270
4      148
Name: Class, dtype: int64

In [69]:
music.columns

Index(['Artist Name', 'Track Name', 'Popularity', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_in min/ms', 'time_signature', 'Class'],
      dtype='object')

In [70]:
music_cate = music[['key', 'mode', 'time_signature', 'Class']]
music_cate.head()

   key  mode  time_signature  Class
1  3.0     1               4     10
2  6.0     1               4      6
4  2.0     1               4     10
5  6.0     1               4      6
6  5.0     0               4      2

In [71]:
music_cate.loc[music_cate.Class == 10, 'class'] = 0 # Rock Music
music_cate.loc[music_cate.Class == 6, 'class'] = 1 # Indie Music Genre
music_cate.loc[music_cate.Class == 8, 'class'] = 2 # Metal Music Genre
# music1_scale.loc[music1_scale.Class == 9, 'class'] = 3
# music1_scale.loc[music1_scale.Class == 1, 'class'] = 4
# music1_scale['class'].fillna(3,inplace = True)

<ipython-input-71-411ea3c35e27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  music_cate.loc[music_cate.Class == 10, 'class'] = 0 # Rock Music

In [72]:
music_cate = music_cate.dropna()

In [73]:
music_cate = music_cate.drop('Class', axis=1)

In [74]:
len(music_cate)

6936

In [12]:
music_cp = pd.read_csv('cp.csv')
music_cp = music_cp.iloc[:,1:3]
music_cp

        Comp.1    Comp.2
0     0.319222  0.536626
1    -0.110514  0.790352
2     2.763452 -1.735319
3     2.452019 -0.727326
4     0.420598 -0.406679
...        ...       ...
6931 -2.552345  0.934760
6932 -3.515957 -2.690451
6933  1.441745 -0.410998
6934 -0.098114 -2.529983
6935  1.045559 -0.451572

[6936 rows x 2 columns]

In [13]:
len(music_cp)

6936

In [14]:
music_cate = music_cate.reset_index(drop=True)
music_cate

       key  mode  time_signature  class
0      3.0     1               4    0.0
1      6.0     1               4    1.0
2      2.0     1               4    0.0
3      6.0     1               4    1.0
4     10.0     1               4    2.0
...    ...   ...             ...    ...
6931   7.0     1               4    1.0
6932   7.0     0               3    1.0
6933   4.0     0               4    2.0
6934   6.0     0               4    2.0
6935   4.0     0               4    0.0

[6936 rows x 4 columns]

In [15]:
data = pd.concat([music_cp, music_cate], axis=1)
data

        Comp.1    Comp.2   key  mode  time_signature  class
0     0.319222  0.536626   3.0     1               4    0.0
1    -0.110514  0.790352   6.0     1               4    1.0
2     2.763452 -1.735319   2.0     1               4    0.0
3     2.452019 -0.727326   6.0     1               4    1.0
4     0.420598 -0.406679  10.0     1               4    2.0
...        ...       ...   ...   ...             ...    ...
6931 -2.552345  0.934760   7.0     1               4    1.0
6932 -3.515957 -2.690451   7.0     0               3    1.0
6933  1.441745 -0.410998   4.0     0               4    2.0
6934 -0.098114 -2.529983   6.0     0               4    2.0
6935  1.045559 -0.451572   4.0     0               4    0.0

[6936 rows x 6 columns]

In [16]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(data, data["class"]):
    strat_train_set = data.iloc[train_index]
    strat_test_set = data.iloc[test_index]

In [17]:
strat_train_set = strat_train_set.reset_index(drop = True)
strat_test_set = strat_test_set.reset_index(drop = True)

In [18]:
train_X = strat_train_set.drop('class', axis = 1)
test_X = strat_test_set.drop('class', axis = 1)
train_y = strat_train_set['class']
test_y = strat_test_set['class']

In [19]:
train_y.unique()

array([1., 0., 2.])

In [20]:
train_X

        Comp.1    Comp.2   key  mode  time_signature
0    -1.518929 -2.053463   9.0     1               4
1    -4.115127  1.165941   9.0     1               3
2    -1.459062 -0.168376  10.0     0               1
3    -0.400338  1.834642   2.0     1               4
4     1.077642 -2.117526  11.0     0               4
...        ...       ...   ...   ...             ...
5543 -0.472987 -2.149422   8.0     1               4
5544 -0.309071  0.268392   2.0     1               4
5545 -3.233439  1.485622  10.0     1               4
5546  2.045083 -0.655040   5.0     0               4
5547  0.812827 -0.093660   8.0     1               3

[5548 rows x 5 columns]

In [21]:
# nor_var = list(['mode', 'time_signature'])
# ord_var = list(['key'])

In [22]:
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.preprocessing import OrdinalEncoder

# full_pipeline = ColumnTransformer([
#         ("nor", OneHotEncoder(), nor_var),
#         ("ord", OrdinalEncoder(), ord_var),
#     ])

# train_X = full_pipeline.fit_transform(train_X)
# test_X = full_pipeline.transform(test_X)

### KNN

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn_model = KNeighborsClassifier(n_neighbors=5)

knn_model.fit(train_X, train_y)
pred_y = knn_model.predict(test_X)
train_knn = knn_model.score(train_X, train_y)
test_knn = knn_model.score(test_X, test_y)

In [24]:
train_knn

0.6436553713049747

In [25]:
test_knn

0.48631123919308356

In [26]:
from sklearn.model_selection import GridSearchCV

grid_clf_knn = GridSearchCV(cv=10, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [1, 3, 5, 10, 20]})
grid_clf_knn.fit(train_X, train_y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'n_neighbors': [1, 3, 5, 10, 20]})

In [27]:
grid_clf_knn.best_estimator_

KNeighborsClassifier(n_neighbors=20)

In [28]:
y_pred = grid_clf_knn.predict(test_X)

train_knn = grid_clf_knn.score(train_X, train_y)
test_knn = grid_clf_knn.score(test_X, test_y)

In [29]:
train_knn

0.576423936553713

In [30]:
test_knn

0.515850144092219

### Decision tree

In [31]:
from sklearn.tree import DecisionTreeClassifier

tr_model = DecisionTreeClassifier(
                random_state=42, 
                criterion='entropy',
                splitter='best', 
                max_depth=5, 
                min_samples_split=2)

tr_model.fit(train_X, train_y)
y_pred = tr_model.predict(test_X)

train_tr = tr_model.score(train_X, train_y)
test_tr = tr_model.score(test_X, test_y)

In [32]:
train_tr

0.5526315789473685

In [33]:
test_tr

0.526657060518732

In [34]:
from sklearn.model_selection import GridSearchCV

param_grid = {
                'min_samples_split': [2, 3, 4, 5, 6, 7, 8], 
                'max_depth': [2, 5, 7, 9],
             }

grid_clf_tr = GridSearchCV(tr_model, param_grid, cv=10, n_jobs=-1, refit = True)
grid_clf_tr.fit(train_X, train_y)

y_pred = grid_clf_tr.predict(test_X)

train_tr = grid_clf_tr.score(train_X, train_y)
test_tr = grid_clf_tr.score(test_X, test_y)

In [35]:
grid_clf_tr.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state=42)

In [36]:
train_tr

0.5526315789473685

In [37]:
test_tr

0.526657060518732

### Random forest

In [38]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(
    n_estimators=100,
    random_state=42, 
    criterion='entropy',
    max_depth=None, 
    min_samples_split=2)

rf_model.fit(train_X, train_y)
y_pred = rf_model.predict(test_X)

train_rf = rf_model.score(train_X, train_y)
test_rf = rf_model.score(test_X, test_y)

In [39]:
train_rf

0.9507930785868781

In [40]:
test_rf

0.4827089337175792

In [41]:
from sklearn.model_selection import GridSearchCV

param_grid = {
                'n_estimators': [5, 10, 15, 20, 25, 30, 35, 40, 50, 100],
                'max_depth': [2, 3, 4, 5, 7, 8],
             }

grid_clf_rf = GridSearchCV(rf_model, param_grid, cv=10, n_jobs=-1, refit = True)
grid_clf_rf.fit(train_X, train_y)

y_pred = grid_clf_rf.predict(test_X)

train_rf = grid_clf_rf.score(train_X, train_y)
test_rf = grid_clf_rf.score(test_X, test_y)

In [42]:
grid_clf_rf.best_estimator_

RandomForestClassifier(criterion='entropy', max_depth=5, random_state=42)

In [43]:
train_rf

0.5647080028839221

In [44]:
test_rf

0.5309798270893372

### Logistic regression

In [45]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression(solver='liblinear',multi_class="auto")
log_model.fit(train_X, train_y)
y_pred = log_model.predict(test_X)

train_log = log_model.score(train_X, train_y)
test_log = log_model.score(test_X, test_y)

In [46]:
train_log

0.5371304974765682

In [47]:
test_log

0.5302593659942363

### AdaBoost

In [48]:
from sklearn.ensemble import AdaBoostClassifier

adb_model = AdaBoostClassifier(
    n_estimators=50,
    learning_rate=1,
    random_state=42)

adb_model.fit(train_X, train_y)
y_pred = adb_model.predict(test_X)

train_adb = adb_model.score(train_X, train_y)
test_adb = adb_model.score(test_X, test_y)

In [49]:
train_adb

0.5376712328767124

In [50]:
test_adb

0.5259365994236311

In [51]:
from sklearn.model_selection import GridSearchCV
param_grid = {
                 'n_estimators': [10, 15, 20, 25, 30, 35, 40, 50, 100, 150],
                 'learning_rate': [0.2, 0.4, 0.5, 0.6, 0.8, 1],
             }

grid_clf_adb = GridSearchCV(adb_model, param_grid, cv=10, n_jobs=-1, refit = True)
grid_clf_adb.fit(train_X, train_y)

y_pred = grid_clf_adb.predict(test_X)

train_adb = grid_clf_adb.score(train_X, train_y)
test_adb = grid_clf_adb.score(test_X, test_y)

In [52]:
train_adb

0.5425378514780101

In [53]:
test_adb

0.531700288184438

### SVM

In [54]:
from sklearn import svm
svm_model = svm.SVC(gamma="scale",kernel="rbf")
svm_model.fit(train_X, train_y)
y_pred = svm_model.predict(test_X)

train_svm = svm_model.score(train_X, train_y)
test_svm = svm_model.score(test_X, test_y)

In [55]:
train_svm

0.5425378514780101

In [56]:
test_svm

0.5324207492795389

### MLP

In [57]:
from sklearn.neural_network import MLPClassifier
mlp_model = MLPClassifier(random_state = 42)
mlp_model.fit(train_X, train_y)
y_pred = mlp_model.predict(test_X)

train_mlp = mlp_model.score(train_X, train_y)
test_mlp = mlp_model.score(test_X, test_y)

In [58]:
train_mlp

0.5555155010814709

In [59]:
test_mlp

0.5446685878962536

In [60]:
from sklearn.model_selection import GridSearchCV

param_grid = {
                'hidden_layer_sizes': [(10,30,10),(20,)],
                'activation': ['tanh', 'relu'],
                'solver': ['sgd', 'adam'],
                'alpha': [0.0001, 0.05],
                'learning_rate': ['constant','adaptive'],
             }

grid_clf_mlp = GridSearchCV(mlp_model, param_grid, cv=10, n_jobs=-1, refit = True)
grid_clf_mlp.fit(train_X, train_y)

y_pred = grid_clf_mlp.predict(test_X)

train_mlp = grid_clf_mlp.score(train_X, train_y)
test_mlp = grid_clf_mlp.score(test_X, test_y)

In [61]:
grid_clf_mlp.best_estimator_

MLPClassifier(alpha=0.05, hidden_layer_sizes=(20,), random_state=42)

In [62]:
train_mlp

0.5481254506128335

In [63]:
test_mlp

0.5367435158501441